* {
    box-sizing: border-box;
}

.cards {
    width: 300px;
    display: inline-block;
    border: 1px black;
}

.img_cards {
    width: 100%;
    display: inline-block;
    border-radius: 1rem;
}

.main_text {
    font-size: 0.9em;
    padding: 0px 3px 0px 3px;
    letter-spacing: -1px;
    margin: 0px;
}